.header-container{
    height: 20%;
    width: 50%;
    margin-right: 2rem;
    padding:2rem;
}

.angular-distance-header{
    display: flex;
    font-size: 2em;
    color: white;
    /* margin-right: 15rem; */
    width:100%;
    /* position: absolute; */
    z-index: 5;
}