.reservation-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
    width: 10%;
    height: 15%;
    background: rgba(1, 38, 54, 0.73);
    box-shadow: -3px 4px 13px -3px rgba(250, 248, 248, 0.25);
    border-radius: 22px;
    /* margin-left: 2em; */
    margin: 1em;
}

.reservation-date-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
   
}

.destination-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.reservation-date{
   font-size: 50%; 
}

.reservation-destination{
    font-size: 70%;
}