

.about-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(rgba(2, 0, 56, 0.4), rgba(2, 0, 56, 0.8)),
    url("../assets/Luxury-space-interior.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 0%;
}

.reservation-about-button-container{
  display: flex;
  padding-left: 1.4em
}


.back-to-home-abt-pg{
  z-index: 3;
  cursor: pointer;
}
.about-link{
margin-bottom: .7rem;
}

.abt-res-detail-btn,
.abt-to-res-btn{
  margin-top: 1rem;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 3em;
  color: white;
  margin-top: -1.5rem
}

.quote-about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.quote-about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 150px;
}


.about-quote-p1,
.about-quote-p2 {
  align-items: center;
  font-size: 2vw;
  width: 55%;
  margin-top: 2.7em;
  position: inherit;
}

.starting-letter {
  font-size: 2em;
  font-weight: 400;
  color: white;
}

.about-title {
  position: absolute;
  width: 100%;
  padding-top: 1em;
  z-index: 0;
}


  .about-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 50%;
    width: auto;
    padding: 1.5em;
    margin-bottom: 2em;
  }




/* ~~~~~~~~~~~medium device~~~~~~~~~~~~~~~ */

@media screen and (max-width:768px) {
  .about-quote-p1, 
  .about-quote-p2 {
  position: inherit;
  font-size: 1.5em;
  height: 200px;
}
  .reservation-about-button-container {
    width: 350px;
    align-items: center;
    justify-content: center;
  }
  .quote-about-wrapper {
    height: 600px;
    margin-top: 105px;
  
  }
}



/* ~~~~~~~~~~~mobile device~~~~~~~~~~~~~~~ */


@media screen and (max-width:480px) {
.about-quote-p1, 
.about-quote-p2 {
  position: inherit;
  font-size: 0.7em;
  height: 120px
}

.quote-about-wrapper {
  height: 600px;
  margin-top: 105px;

}

.reservation-about-button-container  {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.back-to-home-abt-pg,
.back-to-home-res-pg{
  margin-top: .5em;

}


.about-footer {
  margin-bottom: 2em;
}

}