.about-a {
  justify-content: flex-start;
  width: auto;
  z-index: 1;
}

.about-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(rgba(2, 0, 56, 0.2), rgba(2, 0, 56, 0.4)),
    url("../assets/interior-view.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 0%;
}

.reservation-button-container{
  padding-left: 1.4em
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 3em;
  color: white;
  margin-top: -1.5rem
}

.quote-about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.quote-about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.about-quote-p1,
.about-quote-p2 {
  align-items: center;
  font-size: 1.5em;
  width: 55%;
  margin-top: 2.7em;
}

.starting-letter {
  font-size: 2em;
  font-weight: 400;
  color: white;
}

.about-title {
  position: absolute;
  width: 100%;
  z-index: 0;
}
