.planet-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 500px;
  margin: 5px; 
}

.cardSwiper{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 500px;
  position: relative;
}

.cardSwiperSlide{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 80vw; 
}

  /* ~~~~~~~~~~~medium device~~~~~~~~~~~~~~~ */

@media screen and (max-width: 768px) {
}

/* ~~~~~~~~~~~mobile device~~~~~~~~~~~~~~~ */

@media screen and (max-width: 480px) {

}