.planet-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 500px;
  margin: 5px; 
  overflow: scroll;

}

.cardSwiper{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 500px;
  /* position: relative; */
  overflow: scroll;
  /* margin: -50px; */
}

.cardSwiperSlide{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: auto; 
  /* overflow: scroll; */
  /* margin: -50px; */

}

  /* ~~~~~~~~~~~medium device~~~~~~~~~~~~~~~ */

@media screen and (max-width: 768px) {
}

/* ~~~~~~~~~~~mobile device~~~~~~~~~~~~~~~ */

@media screen and (max-width: 480px) {

}