.app-container{
  display: flex;
  flex-direction: column;
  /* height: 100vw;  */
  /* width: 100vh;
  /* background: url('../assets/planet-alignment.png') no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color:  rgb(2, 0, 56);
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.swiper {
  width: 100%;
  height: 100%;
  --swiper-theme-color: #A2C4D7;
  --swiper-navigation-size: 44px;
  --swiper-navigation-color: #A2C4D7;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-slide {

} */
/* 
.swiper-button-next{ 
  color: #A2C4D7; 
} */