.landing-page-two-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('../assets/weather-balloon.jpg') no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.reservation-button-container{
    display: flex;
    padding: 2em;
    padding-bottom: 0%;
    height: 10%;
    justify-content: flex-end
}

.somewhere{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3em;
    line-height: 35px;

}

.something{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3em;
    line-height: 35px;
    
}

.incredible{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5em;
    line-height: 54px;
    
}

.waiting{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 19px;
}



.landing-footer{
    display: flex;
    align-items: flex-end;
    height: 50%;
    width: auto;
    padding:1.5em;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding:3em;
    padding-bottom: 0%;
    height: 50%;
    width: auto;
    font-family: 'Italiana';
}

.quote-wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   height: auto;
   width: 50%;
}