.landing-page-two-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("../assets/weather-balloon.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.reservation-button-container-landing-pg2 {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  padding-bottom: 0%;
  height: 5%;
  justify-content: flex-end;
  z-index: 5;
}

.back-to-home-btn-res-pg-l2 {
  width: 8em;
  height: 2em;
  background: #020038;
  box-shadow: 0px 4px 4px rgb(145 213 229 / 25%);
  border-radius: 13px;
  color: rgb(145, 213, 229);
  margin-right: 1rem;
  margin-bottom: 0.7rem;
  font-size: 1rem;
}

.back-to-home-btn-res-pg-l2:hover {
  background: rgb(145, 213, 229, 0.55);
  box-shadow: 0px 4px 4px rgba(2, 0, 56, 0.25);
  cursor: pointer;
  color: rgba(2, 0, 56);
}

.back-to-home-btn-res-pg-l2:active {
  transform: translateY(2px);
}

.l-2-res-nav {
  width: 9rem;
}

.somewhere {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 35px;
}

.something {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 35px;
}

.incredible {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 4.5em;
  line-height: 54px;
}

.waiting {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 19px;
}

.landing-footer {
  display: flex;
  align-items: flex-end;
  height: 50%;
  width: auto;
  padding: 1.5em;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 3em;
  padding-bottom: 0%;
  height: 50%;
  width: auto;
  font-family: "Italiana";
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
}

/* ~~~~~~~~~~~medium device~~~~~~~~~~~~~~~ */

@media screen and (max-width: 768px) {
  .quote-container {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    padding: 4em;
    height: 50%;
  }

  .reservation-button-container-landing-pg2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2em;
    padding-bottom: 0%;
    height: 5%;
    justify-content: flex-end;
  }
}

/* ~~~~~~~~~~~mobile device~~~~~~~~~~~~~~~ */

@media screen and (max-width: 480px) {
  .reservation-button-container-landing-pg2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 2em;
  }

  .back-to-home-btn-res-pg-l2 {
    margin-right: 0;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    height: 50%;
    width: auto;
  }

  .somewhere {
    font-size: 1.8em;
  }

  .something {
    font-size: 1.8em;
  }

  .incredible {
    font-size: 3em;
  }
  .waiting {
    font-size: 1em;
    line-height: 10px;
  }

  .landing-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
