.landing1-a{
    padding:1em;
    margin-right: 2rem;
    width: 9rem;
}


.landing-page-one-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('../assets/water-planet.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}



.galactic-quote{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size:  4vw;
    line-height: 19px;
    width: 119%;
    
}

.landing-one-header{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    height: 10%;
    width: 100%;
    padding:3rem;
    padding-bottom: 0%;
}
.land-1-header{
margin: 2rem;
}
.quote-one-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding: 3em;
    padding-bottom: 0%;
    height: 55%;
    width: auto;
    font-family: 'Italiana';
    margin-bottom: 3em;
}

.quote-one-wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   height: auto;
   width: 50%;
}
/* .reservation-button-container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 10%; */
    /* width: 100%; */
    /* padding: 1.5em; */

/* }  */
.reservation-p1-button-container{
    display: flex;
    align-items: center;
    padding-right: 3em;
    height: 10%;
    width: 100%;
    padding: 1.5em;
}

.reservation-button-landing1{
    margin-right: 2em;
}


/* ~~~~~~~~~~~medium device~~~~~~~~~~~~~~~ */

@media screen and (max-width:912px) {

    .landing-one-header{
        align-items: center;
        justify-content: center;
        font-size: 25px;
        padding: 0% 0% 0% 35px;
    } 
    .landing-one-header.angular-distance-header{
        font-size: 16px;
        padding: 0;
    }   

    .galactic-quote{
        font-size: 35px;
        line-height: 35px;
        margin-left: 95px;
        width: 135%
    }
}

/* ~~~~~~~~~~~mobile device~~~~~~~~~~~~~~~ */


@media screen and (max-width:640px) {
    .landing-one-header{
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 0% 0% 0% 35px;
    } 
    .landing-one-header.angular-distance-header{
        font-size: 16px;
        padding: 0;
    }   
    .reservation-p1-button-container{
        padding: 0%;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
    }
    .landing1-a{
        padding: 0;
        margin: 0;

    }

    .galactic-quote{
        font-size: 23px;
        line-height: 35px;
    }
}